.container{
    width: 50%;
    margin: 0 auto;
}

.upload-area{
    width: 100%;
    height: auto;
    border: 2px solid lightgray;
    border-radius: 3px;
    margin: 0 auto;
    text-align: center;
    overflow: auto;
	background: #ccc;
}

.upload-area:hover{
    cursor: pointer;
}

.upload-area img{
   width: 100%;
    height: auto;
}
#file{
    display: none;
}
/* product */
.upload-product-area{
    width: 100%;
    height: auto;
    border: 2px solid lightgray;
    border-radius: 3px;
    margin: 0 auto;
    text-align: center;
    overflow: auto;
	background: #ccc;
}

.upload-product-area:hover{
    cursor: pointer;
}

.upload-product-area img{
   width: 100%;
    height: auto;
}

#product_file{
    display: none;
}

/* Thumbnail */
.thumbnail{
    width: 80px;
    height: 80px;
    padding: 2px;
    border: 2px solid lightgray;
    border-radius: 3px;
    float: left;
    margin: 5px;
}

.size{
    font-size:12px;
}